<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo</title>
</head>
<body>
    <div class="box">
        <h1>Todo List</h1>
        <link rel="stylesheet" href="/css/style.css">
    </div>

    <div class="box">
        <%for ( var i=0 ; i< ejes.length; i++){ %>
            <div class="box2">
                
                <input class="task-checkbox" type="checkbox">
                <p class="task-text"><%= ejes[i] %></p>
            </div>
       <% } %>
    </div>
        <form action="/" method="POST">
            <input type="text" name="a1" placeholder="enter the task" autofocus>
            <button type="submit">+</button>
        </form>
</body>
</html>